.jumbotron {
  background-color: #a9bda2;
}
.priority {
  background-color: #799484;
}
.goal {
  background-color: #515e5e;
}
.milestone {
  background-color: #3d404d;
}
.update {
  background-color: #5c4a4d;
}

.goal_list {
  background-color: #333;
}
.milestone_list {
  background-color: #333;
}
.update_list {
  background-color: #333;
}

.checked {
  background-color: #00cc00;
}

